* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@font-face {
  font-family: norse;
  src: url('Norse-Bold.otf') format('opentype');
}

body {
  background: url('background.jpg');
}

.container {
  display: flex;
  justify-content: space-between;
}

.form-wrapper {
  background: rgba(242, 243, 239, 0.3);
  height: 100vh;
  min-width: 60vw;
  box-shadow: -3px 0 10px #bbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

form {
  background: #f1f1f171;
  padding: 40px;
  box-shadow: 0 5px 10px gray;
  margin-bottom: 20px;
}

form > div {
  margin-bottom: 20px;
}

form + div {
  margin-left: 40px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  gap: 15px 50px;
  flex-wrap: wrap;
}

.form-row > div > label {
  display: block;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.form-row > div > input {
  padding: 5px;
}

form > button {
  padding: 10px 20px;
  background: rgb(70, 150, 70);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.form-wrapper > div > a{
  font-weight: bold;
  color:rgb(70, 150, 70);
  background: rgba(255, 255, 255, 0.562);
  padding: 3px;
}

.logo-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo > h1 {
  text-align: center;
  letter-spacing: 1rem;
  text-shadow: -2px 2px 5px #222;
  margin-right: -0.8rem;
  font-family: norse;
  font-size: 4rem;
}

.logo-wrapper > p {
  text-align: center;
  letter-spacing: 0.1rem;
}

.logo-wrapper a {
  color:white;
}

.logo > img {
  width: 100px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  width: 100%;
  background: rgba(50, 50, 50, 0.4);
  padding: 10px 0;
}

input:focus {
  outline: none;
  border-color: rgb(62, 62, 180);
  background: rgb(213, 213, 230);
  box-shadow: 1px 1px 3px gray;
}

input:invalid {
  border-color: red;
}

button:hover {
  background:rgb(74, 124, 74);
}

button:active {
  background:rgb(143, 211, 143);
  color: black;
  box-shadow: inset 1px 1px 2px gray;
}

.pwd-error {
  color: red;
  display: none;
}
